.inputs {
  background-color: #90caf9;
}
.provider {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.providerDiv {
  margin: 15px;
  display: flex;
  flex-direction: row;
  /* background-color: lightgrey; */
}
h1 {
  font-weight: bold;
}
