.inputs {
  padding-top: 2%;
  padding-left: 2%;
  width: 25%;
  background-color: #90caf9;
  margin-bottom: -200px;
  padding-bottom: 200px;
  position: relative;
  left: 0;
  top: 0;
}
.provider {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 88px;
}
.providerDiv {
  margin: 15px;
  display: flex;
  flex-direction: row;
}
h1 {
  font-weight: bold;
}
