.nav {
  display: flex;
  padding: 30px;
  justify-content: space-between;
  background-color: #bbdefb;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: fixed;
  width: 100%;
  z-index: 1;
}

a {
  text-decoration: none;
  color: #0d47a1;
}
#imgPic {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
.logo {
  font-weight: bold;
  font-size: 30px;
}
#welcomeMessage {
  color: #0d47a1;
  margin-top: -6px;
  padding-bottom: 5px;
}
#logoutMessage {
  color: white;
  display: flex;
  justify-content: flex-end;
}
