.nav {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}
.logo {
}
.menu {
  display: flex;
  justify-content: space-between;
}
.menuItems {
  width: 15vw;
}
a {
  text-decoration: none;
}
#imgPic {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
