.nav {
  display: flex;
  padding: 30px;
  justify-content: space-between;
  background-color: #89cff0;
}
/* .menu {
  display: flex;
  justify-content: space-between;
} */
/* .menuItems {
  width: 15vw;
} */
a {
  text-decoration: none;
  color: white;
}
#imgPic {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
.logo {
  font-weight: bold;
  font-size: 30px;
}
