.visitBody {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
h1 {
  display: flex;
  justify-content: center;
}
.familyList,
.visitBox,
.providerList {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
}
