.visit {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.visits {
  width: 40vw;
  height: 40vh;
  background-color: lightpink;
  margin: 10px;
  display: flex;
  flex-direction: row;
}
.person {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px;
}
.visitDetails {
  margin: 10vw;
}
.dr {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px;
}
.visitDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.selectedDr {
}
