.familyInputs {
  padding: 50px;
  background-color: #90caf9;
  /* position: fixed; */
}
.family {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 90px;
}
.familyMember {
  display: flex;
  flex-direction: row;
  width: 50vw;
  height: 30vh;
  margin: 10px;
}
.img {
  height: 200px;
  width: 200px;
}
